body {
    background-image: url("../images/American.jpg") !important;
    width: 98%;
    margin-left:1%;
    margin-right:1%;
	margin-bottom: 0;
	height: 1500px;
   }

#pleasePick{
    color: white;
}
.gifs-appear-here {
    display: flex;
}
img{
    width: 300px;
    height: 200px;
    position: center;
    margin-left: 1%;
   }
form{
   margin-top: 5px;
    margin-left:10px;
    background-color: rgb(59, 19, 19);
    width: 14%;
    align-self:center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
label.pleasePick{
    margin-left:10px;
}
#item-input.item-input{
    margin-left:10px !important;
}
input#add-item{
    margin-top: 5px;
    margin-left: 10px;
}

#buttons-view{
    display: inline-block;
    background-color:rgba(192,192,192,0.6);
}
.data-item{
    display: inline-block !important;
    margin-left:3px;
    margin-right:0px;
    margin-top: 20px;
    width: 19.8% !important;
    height: 5%;
    align-content:center;
    font-weight: bold;
    font-size: 25px;
    color: #004080;
    background-color:rgba(192,192,192,0.3);
    border-style: solid;
    border-color: gray;
    border-width:.025px;
    }
 .header{
    background-color:rgba(192,192,192,0.1);
    width: 28%;
    text-align: center;
    margin-left: 30%;
    margin-right:30%;
 }
 .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:gray;
	color: white;
	text-align: center;
 }
 .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	height: 190px;
	padding: 10px 15px;
	margin-top: 5px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.0;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
